*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e9eaf2;
  }

.main{
  background-color: #282A35;
  padding: 10% 2% 2%;
  margin: 7% 3% 0px 3%;
  height: 40vh;
  border-radius: 25px;
}

.main h2 {
  font-size: 25px;
  background: inherit;
  font-family: verdana;
  color: white;


}
